# Python
*.py
*.pyc
*.pyo
__pycache__/
*.py[cod]
*$py.class

# Python virtual environments
.venv/
venv/
env/

# Byte-compiled / optimised
*.egg-info/
dist/
build/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
